{% extends "index.html" %}

<head>
    <title> Image to Text (Extract Text From Cover Image)</title>
</head>

{% block heading %}
            <h1 class="h1 text-center text-white">Image to Text (Extract Text From Cover Image)</h1>
            <p class="text text-center text-white slogan">
                We present an stegananalysis service to decode text from image. Upload
                photo to our decoder, click on submit and get your message instantly.
            </p>
{% endblock heading %}


{% block body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">Select an image:</label>
        <input type="file" name="image" id="image">
        <br>
        <label for="key">Enter Key:</label>
        <input type="textarea" name="key" id="key">
        <br>
        <br>
        <input type="submit" value="Show Message">
    </form>
    {% if message %}
        <p>Message: {{message}}</p>
    {% endif %}
{% endblock %}